// Color palettes:

$gold: #E7C055;
$dark-gold: #CD9733;
$brown: #5a4a3a;
$dark-blue: #181F3E;
$blue: #87b7bd;
$light-blue: #e4f6f8;
$red: #E87C72;

$sand: #f7eee8;
$white: $sand; 

$md-bp: 560px; // Medium break point, for responsive design
$lg-bp: 1000px;